In [28]:
# # importing pandas and the main taxonomic data 
import pandas as pd
rawData = pd.read_csv(r'E:\the main dirctory\Machine Learning project\train_data.csv')

In [29]:
# in diabet column -----> 0 means NO  -  1 means YES
rawData

      FBS  blood pressure  smoking  diabetic foot  obesity  sex  diabet
0       2               1        0              0        0    0       0
1      12               0        0              0        0    1       0
2      14               1        0              0        0    0       0
3      14               1        0              0        0    0       0
4      20               1        0              0        0    0       0
..    ...             ...      ...            ...      ...  ...     ...
337   500               0        0              0       25    0       1
338   524               1        0              0       25    1       1
339   545               1        0              0       25    0       1
340   888               0        0              0       25    0       1
341  1574               1        0              0        0    0       1

[342 rows x 7 columns]

In [30]:
# # removing some of the columns
rawData = rawData.drop(columns=['blood pressure','smoking','diabetic foot','obesity','sex'])

In [31]:
rawData

      FBS  diabet
0       2       0
1      12       0
2      14       0
3      14       0
4      20       0
..    ...     ...
337   500       1
338   524       1
339   545       1
340   888       1
341  1574       1

[342 rows x 2 columns]

In [32]:
# # shape of the data

rawData.shape

(342, 2)

In [33]:
# # some statistics about the raw data # we can see the disterbution of data 

rawData.describe()

               FBS      diabet
count   342.000000  342.000000
mean    196.672515    0.894737
std     128.255465    0.307342
min       2.000000    0.000000
25%     124.000000    1.000000
50%     185.000000    1.000000
75%     230.000000    1.000000
max    1574.000000    1.000000

In [34]:
# # showin the values

rawData.values

array([[   2,    0],
       [  12,    0],
       [  14,    0],
       [  14,    0],
       [  20,    0],
       [  24,    0],
       [  25,    0],
       [  26,    0],
       [  32,    0],
       [  35,    0],
       [  41,    0],
       [  42,    0],
       [  47,    0],
       [  52,    0],
       [  52,    0],
       [  53,    0],
       [  53,    0],
       [  54,    0],
       [  54,    0],
       [  56,    0],
       [  62,    0],
       [  68,    0],
       [  75,    0],
       [  75,    0],
       [  78,    0],
       [  78,    0],
       [  78,    0],
       [  81,    0],
       [  83,    0],
       [  83,    0],
       [ 855,    1],
       [ 545,    1],
       [  85,    0],
       [  87,    0],
       [ 254,    1],
       [ 214,    1],
       [  94,    0],
       [ 215,    1],
       [  95,    0],
       [ 310,    1],
       [  98,    0],
       [  98,    0],
       [ 106,    1],
       [  99,    1],
       [ 100,    1],
       [ 100,    1],
       [ 100,    1],
       [ 102,    1],
       [ 102,    1],
       [ 104,    1],
       [ 106,    1],
       [ 106,    1],
       [ 106,    1],
       [ 109,    1],
       [ 110,    1],
       [ 110,    1],
       [ 110,    1],
       [ 110,    1],
       [ 111,    1],
       [ 112,    1],
       [ 113,    1],
       [ 114,    1],
       [ 114,    1],
       [ 114,    1],
       [ 115,    1],
       [ 115,    1],
       [ 116,    1],
       [ 116,    1],
       [ 116,    1],
       [ 116,    1],
       [ 118,    1],
       [ 118,    1],
       [ 118,    1],
       [ 119,    1],
       [ 119,    1],
       [ 119,    1],
       [ 119,    1],
       [ 120,    1],
       [ 120,    1],
       [ 120,    1],
       [ 120,    1],
       [ 120,    1],
       [ 120,    1],
       [ 120,    1],
       [ 121,    1],
       [ 121,    1],
       [ 121,    1],
       [ 122,    1],
       [ 122,    1],
       [ 122,    1],
       [ 122,    1],
       [ 124,    1],
       [ 124,    1],
       [ 127,    1],
       [ 128,    1],
       [ 130,    1],
       [ 130,    1],
       [ 131,    1],
       [ 131,    1],
       [ 132,    1],
       [ 133,    1],
       [ 134,    1],
       [ 134,    1],
       [ 139,    1],
       [ 139,    1],
       [ 140,    1],
       [ 140,    1],
       [ 140,    1],
       [ 140,    1],
       [ 140,    1],
       [ 140,    1],
       [ 140,    1],
       [ 140,    1],
       [ 143,    1],
       [ 143,    1],
       [ 143,    1],
       [ 143,    1],
       [ 144,    1],
       [ 145,    1],
       [ 146,    1],
       [ 146,    1],
       [ 147,    1],
       [ 149,    1],
       [ 149,    1],
       [ 149,    1],
       [ 149,    1],
       [ 149,    1],
       [ 149,    1],
       [ 150,    1],
       [ 150,    1],
       [ 150,    1],
       [ 150,    1],
       [ 150,    1],
       [ 151,    1],
       [ 151,    1],
       [ 152,    1],
       [ 153,    1],
       [ 157,    1],
       [ 157,    1],
       [ 158,    1],
       [ 158,    1],
       [ 160,    1],
       [ 160,    1],
       [ 160,    1],
       [ 160,    1],
       [ 164,    1],
       [ 165,    1],
       [ 165,    1],
       [ 165,    1],
       [ 165,    1],
       [ 166,    1],
       [ 168,    1],
       [ 169,    1],
       [ 169,    1],
       [ 170,    1],
       [ 170,    1],
       [ 171,    1],
       [ 171,    1],
       [ 171,    1],
       [ 173,    1],
       [ 174,    1],
       [ 175,    1],
       [ 175,    1],
       [ 175,    1],
       [ 175,    1],
       [ 175,    1],
       [ 175,    1],
       [ 176,    1],
       [ 180,    1],
       [ 180,    1],
       [ 180,    1],
       [ 180,    1],
       [ 182,    1],
       [ 182,    1],
       [ 183,    1],
       [ 183,    1],
       [ 183,    1],
       [ 187,    1],
       [ 188,    1],
       [ 190,    1],
       [ 190,    1],
       [ 190,    1],
       [ 190,    1],
       [ 190,    1],
       [ 190,    1],
       [ 191,    1],
       [ 191,    1],
       [ 192,    1],
       [ 192,    1],
       [ 193,    1],
       [ 193,    1],
       [ 199,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 200,    1],
       [ 202,    1],
       [ 203,    1],
       [ 203,    1],
       [ 203,    1],
       [ 203,    1],
       [ 203,    1],
       [ 204,    1],
       [ 204,    1],
       [ 204,    1],
       [ 205,    1],
       [ 206,    1],
       [ 206,    1],
       [ 210,    1],
       [ 210,    1],
       [ 210,    1],
       [ 210,    1],
       [ 210,    1],
       [ 212,    1],
       [ 212,    1],
       [ 214,    1],
       [ 214,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 220,    1],
       [ 225,    1],
       [ 230,    1],
       [ 230,    1],
       [ 230,    1],
       [ 230,    1],
       [ 230,    1],
       [ 230,    1],
       [ 230,    1],
       [ 233,    1],
       [ 238,    1],
       [ 240,    1],
       [ 241,    1],
       [ 244,    1],
       [ 247,    1],
       [ 247,    1],
       [ 248,    1],
       [ 249,    1],
       [ 249,    1],
       [ 249,    1],
       [ 250,    1],
       [ 250,    1],
       [ 250,    1],
       [ 257,    1],
       [ 259,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 260,    1],
       [ 262,    1],
       [ 269,    1],
       [ 270,    1],
       [ 280,    1],
       [ 283,    1],
       [ 288,    1],
       [ 290,    1],
       [ 298,    1],
       [ 300,    1],
       [ 300,    1],
       [ 300,    1],
       [ 300,    1],
       [ 300,    1],
       [ 300,    1],
       [ 312,    1],
       [ 321,    1],
       [ 324,    1],
       [ 340,    1],
       [ 340,    1],
       [ 340,    1],
       [ 340,    1],
       [ 341,    1],
       [ 350,    1],
       [ 350,    1],
       [ 350,    1],
       [ 350,    1],
       [ 360,    1],
       [ 366,    1],
       [ 367,    1],
       [ 367,    1],
       [ 367,    1],
       [ 375,    1],
       [ 392,    1],
       [ 406,    1],
       [ 413,    1],
       [ 421,    1],
       [ 445,    1],
       [ 450,    1],
       [ 450,    1],
       [ 450,    1],
       [ 500,    1],
       [ 524,    1],
       [ 545,    1],
       [ 888,    1],
       [1574,    1]], dtype=int64)

In [35]:
# # creating output set


#outputData = rawData['disas stat']
outputData = rawData['diabet']

In [36]:
# # removing the colum "disease state" from inputData



inputData = rawData.drop(columns = ['FBS'])

In [37]:
# # start machine learning


from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(inputData, outputData)

DecisionTreeClassifier()

In [38]:
for i in range (1,10):
# # EVALUATING  spliting data



    from sklearn.model_selection import train_test_split
    from sklearn.metrics import accuracy_score

    inputData_train,inputData_test, outputData_train, outputData_test =  train_test_split(inputData, outputData, test_size = 0.2)

    model.fit(inputData_train, outputData_train)
    predictions = model.predict(inputData_test)

    score = accuracy_score (outputData_test, predictions)
    print(score)

1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0

In [39]:
# save the trained model



import sklearn as external
import joblib

joblib.dump(model, 'the first version of my trained model_FBS VS diabet type.joblib')

['the first version of my trained model_FBS VS diabet type.joblib']

In [40]:
T = pd.read_csv(r'E:\the main dirctory\Machine Learning project\test_data.csv')

In [45]:
# # asking model to predict


prediction = model.predict([[888],[2],[54],[12],[23],[545],[654],[12],[45]])
#prediction = model.predict(M)
prediction

array([1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)